.aircraft-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0A1A2F; /* dark blue */
    color: white;
    padding: 1rem;
    border: 1px solid #1F2E45;
    margin-bottom: 1rem;
    border-radius: 6px;
}
